html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

@font-face {
  font-family: 'Learning Curve';
  src: url("../fonts/learningcurve_tt.eot");
  src: url("../fonts/learningcurve_tt.woff") format("woff"), url("../fonts/learningcurve_tt.ttf") format("truetype"), url("../fonts/learningcurve_tt.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Roboto Slab', monotype;
  color: #484948; }

h1, h2, h3 {
  font-family: 'Learning Curve', sans-serif;
  color: #93A964; }

.pre {
  white-space: pre; }

.section {
  text-align: center; }
  .section--map {
    position: relative;
    background-image: url("../img/europe.png");
    background-size: cover;
    display: block;
    min-height: 320px;
    height: 85vh;
    left: 0;
    right: 0;
    z-index: 1; }
  .section--arrival {
    color: #fff;
    background-color: #93A964;
    background-image: url("../img/csipet.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.4em 0; }
    .section--arrival .title {
      color: #fff; }
  .section--program .title, .section--hotel .title {
    padding: 0.75em 0 0.35em 0; }
  .section--hotel {
    padding-bottom: 6em; }
    .section--hotel .title {
      color: #88C9B3; }
  .section--gift {
    padding-bottom: 4.5em; }
  .section--rsvp .title {
    font-size: 64px;
    color: #fffff2;
    text-align: center;
    background: #FFB2A8;
    padding-top: 1em; }

.title {
  font-size: 72px; }
  .title--main {
    padding-top: 30vh; }
  .title__wrapper {
    display: flex;
    margin: 0 auto;
    background-image: url("../img/header.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7.6em;
    max-width: 90%;
    height: 2.8em;
    color: #484948;
    justify-content: space-between;
    line-height: 2.4em; }
    .title__wrapper span {
      padding: 0 0.65em; }
    .title__wrapper :last-child {
      padding-right: 1.2em; }
  .title--sub {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2.3em;
    font-size: 1.2em; }
  .title--date {
    display: inline-block;
    width: auto;
    color: #F9B017;
    font-size: 3.4em;
    margin: 0 auto; }

.arrival, .program {
  box-sizing: border-box;
  width: 100%;
  max-width: 40em;
  margin: 2.4em auto 3.4em auto;
  padding: 0 1.4em;
  line-height: 1.5em; }

.program {
  text-align: left;
  width: auto;
  margin: 3.4em auto 6.4em auto;
  border-collapse: collapse; }
  .program__title {
    display: block;
    font-family: 'Learning Curve', sans-serif;
    font-weight: bold;
    font-size: 2.4em;
    color: #F9B017; }
  .program li {
    display: inline-block;
    line-height: 1.2em; }
  .program__row {
    line-height: 3.4em;
    border-bottom: 1px dashed #F9B017; }
    .program__row > :first-child {
      box-sizing: border-box;
      width: 50%;
      min-width: 10.5em;
      max-width: 90%;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.07em;
      padding-left: 0.85em; }

.suggest {
  display: inline-block;
  padding: 0.6em 1.2em;
  max-width: 20em; }
  .suggest__title {
    font-family: 'Roboto Slab', monotype;
    color: #88C9B3;
    font-weight: bold;
    margin: 1.6em 0; }
  .suggest__link {
    display: inline-block;
    margin-top: 1.35em;
    background: #F9B017;
    border-radius: 3px;
    color: #ffffff;
    padding: 0.6em 0.85em; }
    .suggest__link:hover, .suggest__link:focus {
      background: #e19a06; }

.img {
  width: 160px;
  height: 160px;
  border-radius: 80px; }

@media (max-width: 480px) {
  .title {
    font-size: 64px; } }
