@import "./reset";
@import "./shake";

$text-dark: #484948;
$text-light: #fffff2;
$border-light: #d6d4cf;
$color-white: #ffffff;
$color-grass: #93a964;
$color-sun: #f9b017;
$color-aqua: #88c9b3;
$color-heart: #ffb2a8;


@font-face {
	font-family: 'Learning Curve';
	src: url('../fonts/learningcurve_tt.eot');
	src: url('../fonts/learningcurve_tt.woff') format('woff'), url('../fonts/learningcurve_tt.ttf') format('truetype'), url('../fonts/learningcurve_tt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Roboto Slab', monotype;
	color: $text-dark;
	height: 100%;

	&.overlay {
		max-height: 100%;
		overflow: hidden;
	}
}

h1, h2, h3 {
	font-family: 'Learning Curve', sans-serif;
	color: $color-grass;
}

.visuallyhidden {
	display: inline-block;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.tablet-up {
	display: none;
}

.pre {
	white-space: pre;
	line-height: 1.6;
}

.section {
	text-align: center;

	&--map	{
		position: relative;
		background-image: url('../img/europe_small.png');
		background-size: cover;
		display: block;
		min-height: 320px;
		height: 85vh;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&--arrival {
		color: $color-white;
		background-color: $color-grass;
		background-image: url('../img/csipet.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 2.4em 0;

		.title {
			color: $color-white;
		}
	}

	&--program, &--hotel {
		.title {
			padding: 0.75em 0 0.35em 0;
		}
	}

	&--hotel {
		padding-bottom: 3.4em;

		.title {
			color: $color-aqua;
		}
	}

	&--gift {
		padding-bottom: 4.5em;

		.title {
			padding-bottom: 0.3em;
		}
	}

	&--rsvp {
		background: $color-heart;
		color: $text-light;
		padding-bottom: 3em;

		.title {
			font-size: 64px;
			color: inherit;
			text-align: center;
			padding-top: 1em;
		}

		.contact {
			max-width: 42rem;
			line-height: 1.4;
		}
	}
}

.title {
	font-size: 62px;

	&--main {
		position: relative;
		font-size: 34px;
		padding-top: 2em;
		vertical-align: middle;
	}

	&__wrapper {
		display: flex;
		margin: 0 auto;
		background-image: url('../img/header.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 8.4em;
		max-width: 76%;
		height: 2.8em;
		color: $text-dark;
		justify-content: space-between;
		line-height: 2.4em;

		span {
			padding: 0 0.65em;
		}

		:last-child {
			padding-right: 1.2em;
		}
	}

	&--sub {
		font-family: 'Learning Curve', sans-serif;
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			border-color: transparent;
			border-top-color: lighten($color-aqua, 23%);
			border-width: 1.2rem;
			margin-left: -1.2rem;
		}

		span {
			display: inline-block;
			margin: 0 auto;
			padding: 0.8em 1.2em;
			background: rgba(255, 255, 242, 0.72);
			font-size: 28px;
		}
	}

	&--date {
		display: inline-block;
		width: auto;
		color: $color-sun;
		font-size: 3.4em;
		margin: 0 auto;
	}

}

.photos {
	position: relative;
	top: 0;
	z-index: 1000;
	background-color: rgba(243, 240, 232, 0);
	transition: 0.24s background-color ease-out;

	&--open {
		min-height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: rgba(243, 240, 232, 0.8);
	}
}

.photo {
	display: inline-block;
	position: absolute;
	width: 160px;
	height: 190px;
	box-sizing: border-box;
	padding: 8px;
	background: $color-white;
	box-shadow: 2px 2px 9px lighten($text-dark, 23%);
	transform: translateX(calc(50vw - 50%)) translateY(32.5vh);
	transition: 0.3s transform ease-out;
	overflow: hidden;
	z-index: 1500;

	&__modal {
		display: none;
		position: relative;
		box-sizing: border-box;
		top: 100px;
		box-sizing: border-box;
		padding: 2rem 2.4rem;
		font-weight: lighter;
		background: $color-white;
		max-width: 0;
		margin: 3rem auto;
		line-height: 1.6rem;
		min-height: 6rem;
		opacity: 1;
		border-bottom: 2px solid $border-light;
		transition: 0.4s opacity ease-out;
		z-index: 1200;

		&--hidden {
			opacity: 0;
			visibility: hidden;
			margin: 0;
			padding: 0;
			line-height: 0;
			min-height: 0;
			border-bottom: none;
		}

		p {
			opacity: 1;
			transition: 0.2s opacity ease-out;

			&.hide {
				opacity: 0;
			}
		}
	}

	&__wrapper {
		position: relative;
		width: 100%;
		height: 144px;
		overflow: hidden;
		cursor: pointer;
	}

	&__img {
		position: absolute;
		margin: 0 auto;
		-webkit-filter: sepia(0.32) saturate(1.8) contrast(0.8);
		filter: sepia(0.32) saturate(1.8) contrast(0.8);
	}

	&__desc {
		display: block;
		margin-top: 0.5rem;
		margin-left: 0.5em;
		color: lighten($text-dark, 11%);
		font-size: 10px;
		letter-spacing: 0.03rem;
		text-transform: uppercase;

	}

	@mixin translateCenter($deg) {
		-webkit-transform: translateX(calc(50vw - 50%)) translateY(32.5vh) rotate($deg);
		transform: translateX(calc(50vw - 50%)) translateY(32.5vh) rotate($deg);

		&:hover,
		&:focus {
			transform: translateX(calc(50vw - 50%)) translateY(32.5vh) rotate(#{$deg - 1.35deg});
		}

	}

	&--barcelona {
		@include  translateCenter(2.5deg);
	}

	&--gili {
		@include  translateCenter(-1.5deg);
	}

	&--london {
		@include  translateCenter(-5.5deg);
	}

	&--paris {
		@include  translateCenter(-2.5deg);
	}

	&--stlucia {
		@include  translateCenter(2.7deg);
	}

	&--sydney {
		@include  translateCenter(3.8deg);
	}

}

.arrival, .program {
	box-sizing: border-box;
	width: 100%;
	max-width: 40em;
	margin: 2.4em auto 3.4em auto;
	padding: 0 1.4em;
	line-height: 1.5em;
}

.program {
	$block: &;
	text-align: left;
	width: auto;
	margin: 3.4em auto 6.4em auto;

	&__accordion {
		display: block;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		min-width: 10.5em;
		padding: 0.85em 0;
		border: none;

		&:active,
		&:focus {
			outline: 0;
		}

		p {
			display: inline-block;
			box-sizing: border-box;
			width: 48%;
			text-align: left;
		}

		p:first-child {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.07em;
			padding-left: 0.85em;
		}

		svg {
			display: inline-block;
			position: absolute;
			right: 0.6em;
			top: 1em;
			transform: rotate(0);
			transform-origin: center;
			transition: 0.2s transform ease-out;
		}

		&--extended {
			+ #{$block}__desc {
				opacity: 1;
				max-height: 400px;
				transition: 0.32s max-height ease-out, 0.16s border-style ease-out, 0.3s opacity ease-in;
				transition-delay: 0, 0, 0.4s;

				& + #{$block}__accordion {
					border-top: 1px solid $color-sun;
				}
			}

			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__desc {
		position: relative;
		max-height: 0;
		opacity: 0;
		height: auto;
		transition: 0.32s max-height ease-out, 0.2s opacity ease-in;
		overflow: hidden;

		& + #{$block}__accordion {
			border-top: 1px dashed $color-sun;
		}

		&--secondary {
			max-height: initial;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			padding: 0 20px;
			vertical-align: top;
		}

		&--full {
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: 10px 20px;
			text-align: left;
		}
	}

	&__pic {
		display: block;
		width: 160px;
		height: 160px;
		margin: 0 auto 20px auto;

		&--filter {
			-webkit-filter: sepia(0.32) saturate(1.8) contrast(0.8);
			filter: sepia(0.32) saturate(1.8) contrast(0.8);
		}
	}

	&__link {
		display: block;
		margin: 12px 0;
		font-family: 'Learning Curve';
		font-size: 28px;
		letter-spacing: 1.2px;
		padding: 0.2em 0.43em 0.2em 0.3em;
		color: $color-grass;
		border: 1px solid $color-grass;
		width: 50px;
		text-align: center;
		background: $color-white;
		transition: 0.16s background-color ease-in, 0.16s color ease-in;

		&:hover,
		&:focus,
		&:active {
			outline: 0;
			border-color: $color-grass;
			background: $color-grass;
			color: $color-white;
		}
	}
}

.suggest {
	display: inline-block;
	padding: 0.6em 1.2em;
	max-width: 20em;

	&__title {
		font-family: 'Roboto Slab', monotype;
		color: $color-aqua;
		font-weight: bold;
		margin: 1.6em 0;
	}

	&__link {
		display: inline-block;
		margin: 1.35em 0 2.4em 0;
		background: $color-sun;
		border-radius: 3px;
		color: #ffffff;
		padding: 0.6em 0.85em;

		&:hover, &:focus {
			background: darken($color-sun, 8%);
		}
	}
}

.contact {
	box-sizing: border-box;
	margin: 5em auto 2em auto;
	width: 100%;
	padding: 0 2em;
}

.img {
	width: 160px;
	height: 160px;
	border-radius: 80px;
}

.icon {
	width: 2.4rem;
	fill: $color-grass;
	margin: 2.4rem 1.2rem 0.8rem 1.2rem;

	&:hover {
		@include do-shake('shake-little', 2, 2, 1);
	}
}

.link {
	text-decoration: none;
	color: $text-dark;

	&:hover, &:focus {
		outline: 0;
		font-weight: 500;
		text-decoration: underline;
	}
}

.typeform-share.button {
	@extend .suggest-link;
	margin-top: 2.6em;
	font-size: 28px;
	background-color: darken($color-aqua, 8%);
	transition: 0.2s background-color ease-out;

	&:hover,
	&:focus {
		background-color: darken($color-aqua, 14%);
	}
}

.footer {
	font-size: 10px;
	background: $color-heart;
	padding: 1.2rem;
	color: lighten($color-heart, 8%);
	text-align: center;

	&:hover,
	&:focus {
		.credits__desc {
			opacity: 1;
		}
	}
}

.credits {
	text-transform: uppercase;

	&__desc {
		margin: 0.8em auto 0 auto;
		max-width: 90%;
		opacity: 0;
		transition: 0.4s opacity ease-out;
		overflow: hidden;

		p {
			display: inline-block;
			padding: 0.4em;
			width: 12em;
		}

		span {
			display: block;
			text-transform: none;
		}
	}
}


@media (min-width: 640px) {
	.title {
		font-size: 72px;

		&--main {
			font-size: 72px;
			padding-top: 30vh;
		}

		&__wrapper {
			width: 7.6em;
			max-width: 90%;
		}
	}

	.photo__modal {
		display: block;
	}

	.section--map {
		background-image: url('../img/europe_medium.png');
	}
}

@media (min-width: 641px) and (max-width: 820px) {
	@mixin translateTop($x, $deg) {
		-webkit-transform: translateX($x) translateY(14px) rotate($deg);
		transform: translateX($x) translateY(14px) rotate($deg);

		&:hover,
		&:focus {
			transform: translateX($x) translateY(14px) rotate(#{$deg - 1.35deg});
		}
	}
	@mixin translateSink($x, $deg) {
		-webkit-transform: translateX($x) translateY(14vw) rotate($deg);
		transform: translateX($x) translateY(14vw) rotate($deg);

		&:hover,
		&:focus {
			transform: translateX($x) translateY(14vw) rotate(#{$deg - 1.35deg});
		}
	}
	.tablet-up {
		display: inline;
	}

	.photo {
		$block: &;

		width: 120px;
		height: 140px;
		padding: 5px;

		&__wrapper {
			height: 110px;
		}

		&__modal {
			display: block;
			max-width: 70%;
			top: 180px;
		}

		&--barcelona {
			@include translateTop(2vw, 2.5deg);

			&.show {
				z-index: 1700;
				@include translateSink(2vw, 2.5deg);
			}
		}

		&--gili {
			@include translateTop(16vw, -1.5deg);

			&.show {
				z-index: 1700;
				@include translateSink(16vw, -1.5deg);
			}
		}

		&--london {
			@include translateTop(31vw, -5.5deg);

			&.show {
				z-index: 1700;
				@include translateSink(31vw, -5.5deg);
			}
		}

		&--paris {
			@include translateTop(47vw, -2.5deg);

			&.show {
				z-index: 1700;
				@include translateSink(47vw, -2.5deg);
			}
		}

		&--stlucia {
			@include translateTop(62vw, 2.7deg);

			&.show {
				z-index: 1700;
				@include translateSink(62vw, 2.7deg);
			}
		}

		&--sydney {
			@include translateTop(78vw, 3.8deg);

			&.show {
				z-index: 1700;
				@include translateSink(78vw, 3.8deg);
			}
		}
	}

	.program {
		&__pic {
			display: inline-block;
			width: 160px;
			height: 160px;
			margin-bottom: 12px;
		}

		&__desc--secondary {
			width: calc(100% - 170px);
		}

		&__link {
			position: absolute;
			bottom: 0.4rem;
		}
	}
}

@media (min-width: 821px) {
	@mixin translate($x, $y, $deg) {
		-webkit-transform: translateX($x) translateY($y) rotate($deg);
		transform: translateX($x) translateY($y) rotate($deg);

		&:hover,
		&:focus {
			transform: translateX($x) translateY($y) rotate(#{$deg - 1.35deg});
		}
	}
	.tablet-up {
		display: inline;
	}
	.photo {
		width: 120px;
		height: 140px;
		padding: 5px;

		&__wrapper {
			height: 110px;
		}

		&__modal {
			display: block;
			max-width: 58%;
			top: 20vh;
		}

		&--barcelona {
			@include translate(2.5vw, 13px, 2.5deg);
			&.show {
				@include translate(15vw, 24px, 2.5deg);
			}
		}

		&--gili {
			@include translate(1.7vw, 179px, -1.5deg);
			&.show {
				@include translate(6.8vw, 186px, -3deg);
			}
		}

		&--london {
			@include translate(2.1vw, 360px, -5.5deg);
			&.show {
				@include translate(9.6vw, 337px, -5.5deg);
			}
		}

		&--paris {
			@include translate(calc(95vw - 90%), 22px, -2.5deg);
			&.show {
				@include translate(calc(95vw - 180%), 40px, -2.5deg);
			}
		}

		&--stlucia {
			@include translate(calc(95vw - 90%), 194px, 1.7deg);
			&.show {
				@include translate(calc(95vw - 140%), 210px, 1.7deg);
			}
		}

		&--sydney {
			@include translate(calc(95vw - 100%), 375px, 5.6deg);
			&.show {
				@include translate(calc(95vw - 170%), 390px, 5.6deg);
			}
		}
	}

	.program {
		&__pic {
			display: inline-block;
			width: 160px;
			height: 160px;
			margin-bottom: 12px;
		}

		&__desc--secondary {
			width: calc(100% - 170px);
		}

		&__link {
			position: absolute;
			bottom: 0.4rem;

		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	.section--map {
		background-image: url('../img/europe.png');
	}

}
